<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">admgesdos</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="hibernate.connection.username">admgesdos</property>
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
        <property name="hibernate.show_sql">true</property>
        <mapping resource="com/agileillutions/gesdos/modelo/Contratos.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Cargo.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/DetalleContrato.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Geominas.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Socios.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Factura.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Grupos.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Ciuda.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Programa1.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Permisos.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Practica.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Observa.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Ubicacion.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Estudios.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Revelado.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Usuarios.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/ContratoDosimetro.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Radiacion.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Programas.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Dosimetro.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Grupdet.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Traba.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Numer.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Empresas.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Facturapago.hbm.xml" />
        <mapping resource="com/agileillutions/gesdos/modelo/Depar.hbm.xml" />
    </session-factory>
</hibernate-configuration>
